set daemon  120

set alert <%= @id %>@<%= @fqdn %>
set mailserver localhost

set idfile <%= @monit_dir %>/monit.id
set logfile <%= @log_dir %>/monit.log
set pidfile <%= @monit_dir %>/monit.pid
set statefile <%= @monit_dir %>/monit.state

# necessary for summary cmd, etc to work
set httpd port 12812
  allow localhost 
 
include <%= @monit_dir %>/monitrc.d/*
